old-files
pins
*.dsc
*.xz
*.gz
*.buildinfo
*.changes
c7i76e/src/firmware
c7i76e/debian/c7i76e
c7i76e/debian/.debhelper
c7i76e/debian/*.substvars
c7i76e/debian/files
c7i76e/debian/debhelper*
docs/build
