Source: 7i76e
Maintainer: John Thornton, <jt@gnipsel.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: python
Priority: optional

Package: 7i76e
Priority: optional
Architecture: amd64
Depends: python3 (>=3.6), python3-pyqt5, ${misc:Depends}, ${python3:Depends}
Description: Mesa 7i76e Configuration Tool
 This tool creates the configuration files
 Needed by LinuxCNC
